# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
your-choosen-folder/
.DS_store
ui-debug.log
firestore-debug.log